<h1>Listing events</h1>

<%= link_to 'New event', new_event_path %></br></br>
<table>
  <tr>
    <th>Date</th>
    <th>Definition</th>
    <th></th>
  </tr>
 
  <% @events.each do |event| %>
    <tr>
      <td><%= event.date %></td>
      <td><%= event.definition %></td>
      <td><%= link_to 'Show', event_path(event) %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Delete', event_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

</br></br>
<%= link_to 'Main page', welcome_index_path %>